@font-face {
  font-family: "Secular One";
  src: url("fonts/SecularOne-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTSans-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url("fonts/FiraSansCondensed-Light.ttf") format("TrueType");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url("fonts/FiraSansCondensed-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url("fonts/FiraSansCondensed-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
}

/* 
font-family: "Secular One", sans-serif;
font-weight: 400;
font-family: "PT Sans", sans-serif;
font-weight: 400;
font-family: "Fira Sans Condensed", sans-serif;
font-weight: 300;
font-family: "Fira Sans Condensed", sans-serif;
font-weight: 400;
font-family: "Fira Sans Condensed", sans-serif;
font-weight: 900;
*/

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* ------------------ HEADER -------------------- */

.header {
  display: grid;
  /* grid-template: "logo nav search" max-content / 1fr 1fr 100px; */

  grid-template: ". logo nav search" max-content / 2fr 1fr 2.5fr 0.5fr;

  /* 2fr 1fr 1.3fr 1.7fr */
  align-items: center;
  justify-items: start;

  padding: 20px 0;
  overflow: hidden;

  text-transform: uppercase;
}

.logo {
  grid-area: logo;
  justify-self: start;

  width: 150px;

  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #ff2a3c;

  transition: color 0.8s;

  user-select: none;
}

.header__nav {
  grid-area: nav;
  margin-left: -15px;
}

.header__nav ul {
  display: flex;
  gap: 15px;
}

.header__nav ul a {
  display: inline-block;
  position: relative;
  padding: 15px;
  transition: color 0.8s;
}

.header__nav ul a:hover,
.logo:hover {
  color: #00c0b6;
}

.header__nav ul a:active {
  color: #02625d;
}

.header__nav ul a::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -150%;
  display: block;
  width: 80%;
  height: 100%;
  background-color: #00c0b6;

  transition: bottom 0.8s, background-color 0.8s;
}

.header__nav ul a:hover::after {
  bottom: -80%;
}

.header__nav ul a:active::after {
  background-color: #02625d;
}

.header__search {
  grid-area: search;
  justify-self: start;
}

.header__search svg {
  width: 35px;
  height: 35px;
  fill: #000;
  transition: fill 0.8s;
}

.header__search svg:hover {
  fill: #00c0b6;
}

.header__search svg:active {
  fill: #02625d;
}

/* ------------------ MAIN -------------------- */

main {
  display: grid;
  /* grid-template-rows: 3fr 1fr 3fr;
  grid-template-columns: 2fr 1fr 1.3fr 1.7fr;
  grid-template-areas:
    "slider-arrows healthy thirsty thirsty"
    "slider-arrows healthy slider-dots orange"
    "freshy healthy slider-dots orange"; */
  grid-template:
    "slider-arrows healthy thirsty thirsty" 3fr
    "slider-arrows healthy slider-dots orange" 1fr
    "freshy healthy slider-dots orange" 3fr
    / 2fr 1fr 1.3fr 1.7fr;
}

/* ------------------ SLIDER-ARROW -------------------- */

.slider-arrows {
  grid-area: slider-arrows;
  position: relative;
}

.slider-arrows__items-wrapper {
  width: 100%;
  height: 100%;

  filter: brightness(80%);

  display: flex;
}

.slider-arrows__nav {
  position: absolute;
  left: 0;
  top: 50%;

  display: flex;
  justify-content: space-around;
  width: 100%;

  transform: translateY(-50%);
}

.slider-arrows__arrow {
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  transition: opacity 0.4s;
}

.btn {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border: 2px solid #fff;
  height: 44px;
  padding: 0px 20px;
  text-transform: uppercase;

  transition: opacity 0.4s;
}

.btn:hover,
.slider-arrows__arrow:hover {
  opacity: 0.8;
}

.btn:active,
.slider-arrows__arrow:active {
  opacity: 0.6;
}

/* ------------------ SLIDER-DOTS -------------------- */

.slider-dots {
  grid-area: slider-dots;
  position: relative;
}

.slider-dots__items-wrapper {
  width: 100%;
  height: 100%;

  filter: brightness(80%);

  display: flex;
}

.slider-dots__btn__wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-around;
  width: 100%;
}

.slider-dots__nav {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  transform: translateY(25%);
}

.slider-dots__nav-item {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;

  transition: background-color 0.9s, opacity 0.4s;
}

.slider-dots__nav-item--active {
  background-color: transparent;
}

.slider-dots__nav-item:hover {
  opacity: 0.8;
}

.slider-dots__nav-item:active {
  opacity: 0.6;
}

/* ------------------ COMMON -------------------- */

.freshy {
  grid-area: freshy;
  background-color: #bbe955;
}

.healthy {
  grid-area: healthy;
  background-color: #ff2a3c;
}

.thirsty {
  grid-area: thirsty;
  background-color: #ffb121;
}

.common {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 30px 30px 50px 30px;
}

.common__wrapper {
  display: flex;
  gap: 30px;
}

.common--col-reverse .common__wrapper {
  flex-direction: column-reverse;
  gap: 25px;
}

.common--row-reverse .common__wrapper {
  flex-direction: row-reverse;
  gap: 40px;
}

.title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
  width: 130px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  align-items: flex-end;
  margin-bottom: -9px;
}

.title span {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
}

.title span::first-line {
  font-weight: 900;
}

.common__desc {
  hyphens: auto;
  max-width: 200px;
}

.common--row-reverse .common__desc {
  text-align: right;
}

/* ------------------ ORANGE -------------------- */

.orange {
  position: relative;
  grid-area: orange;
}
.orange__btn-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-around;
  width: 100%;
}
.orange > img {
  filter: brightness(80%);
  width: 100%;
  height: 100%;
}

.orange__nav {
  position: absolute;
  left: 0;
  bottom: 50px;
  transform: translateY(50%);
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 40px;
}

.orange__arrow {
  transition: opacity 0.4s;
}

.orange__arrow:hover {
  opacity: 0.8;
}

.orange__arrow:active {
  opacity: 0.6;
}

/* ------------------ WRAPPER-DOWN -------------------- */

.wrapper-down {
  display: grid;
  grid-template:
    "footer sidebar" 1fr
    / 4.3fr 1.7fr;
}

/* ------------------ FOOTER -------------------- */

.footer {
  grid-area: footer;
  background-color: #2f2f2f;
  color: #fff;

  padding-top: 150px;

  display: grid;
  grid-template:
    ". socials form . logo" max-content
    ". . . . copy" 100px
    / 0.5fr 1.5fr 1fr 0.3fr 1fr;
}

.socials {
  grid-area: socials;
  display: flex;
  gap: 20px;
  align-items: end;
}

.socials__link {
  transition: opacity 0.4s;
}

.socials__link:hover {
  opacity: 0.8;
}

.socials__link:active {
  opacity: 0.6;
}

.socials__link img {
  width: 40px;
  height: 40px;
}

.form {
  grid-area: form;
  align-items: end;

  text-transform: uppercase;
}

.form__title {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.form__row {
  display: flex;
}

.form__input {
  height: 40px;
  width: 65%;
  padding: 0 20px;
  background-color: rgb(255, 255, 255, 0.6);
}

.form__input:focus {
  background-color: #fff;
}

.form__submit {
  height: 40px;
  width: 35%;
  background-color: #00c0b6;

  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;

  transition: background-color 0.6s;
}

.form__submit:hover {
  background-color: #11dad0;
}
.form__submit:active {
  background-color: #015f5a;
}

.logo-img {
}

.footer__logo {
  grid-area: logo;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(10px);
  align-self: end;
}

.footer__logo:hover {
  opacity: 0.7;
}

.copy {
  grid-area: copy;
  color: #999999;
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
}

/* ------------------ SIDEBAR -------------------- */

.sidebar {
  grid-area: sidebar;
  background-color: #00c0b6;
  align-items: start;
  padding: 50px 30px 30px 30px;
}

.sidebar .common__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .btn {
}

.btn--rounded {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
}

@media (max-width: 1500px) {
  .footer {
    grid-template:
      ". socials form logo" max-content
      ". . . copy" 100px
      / 0.5fr 1.5fr 1.3fr 1fr;
  }
}

@media (max-width: 1250px) {
  .sidebar .common__desc {
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  main {
    grid-template:
      "freshy freshy healthy" auto
      "slider-arrows slider-arrows healthy" auto
      "thirsty thirsty thirsty" auto
      "slider-dots orange orange" auto
      / 3fr 1fr 2fr;
  }

  .slider-dots,
  .orange {
    height: 300px;
  }

  .slider-arrows__item,
  .slider-dots__item,
  .orange > img {
    width: 100%;
  }

  .wrapper-down {
    grid-template:
      "sidebar" auto
      "footer" auto
      / auto;
  }

  .common {
    align-items: center;
    padding: 40px 15px;
  }

  .thirsty {
    padding: 40px 80px 40px 0;
  }

  .sidebar {
    padding: 40px 0 40px 100px;
  }

  .footer {
    padding-top: 100px;
    grid-template:
      "socials form logo" max-content
      ". . copy" 100px
      / 2fr 2fr 2fr;
  }

  .socials {
    justify-content: center;
  }

  .header {
    grid-template: "logo nav search" max-content / max-content max-content max-content;
    padding: 20px 30px;
    justify-content: space-between;
  }

  .header__nav {
    margin-left: 0;
  }
}

@media (max-width: 950px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 40px;
    grid-template:
      "socials" max-content
      "form" max-content
      "logo" max-content
      "copy" max-content
      / 50%;
    gap: 40px;
    justify-content: center;
  }

  .copy {
    grid-area: copy;
    color: #999999;
    font-size: 12px;
    text-align: center;
    padding-top: 0px;
  }
}

@media (max-width: 780px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 600px) {
  main {
    grid-template:
      "healthy" auto
      "slider-arrows" auto
      "freshy" auto
      "slider-dots" auto
      "thirsty" auto
      "orange" auto
      / 1fr;
  }

  .common--col-reverse .common__wrapper {
    flex-direction: row-reverse;
  }

  /* .thirsty,
  .sidebar {
    padding: 40px 15px;
  } */

  .common {
    padding: 20px 15px;
  }

  .footer {
    grid-template-columns: 70%;
  }

  .title {
    margin-bottom: 0;
  }

  .common__wrapper {
    gap: 15px;
  }

  .common--row-reverse .common__wrapper {
    gap: 15px;
  }
}
@media (max-width: 450px) {
  .common__desc {
    max-width: unset;
  }

  .thirsty .title {
    width: unset;
  }
}

@media (max-width: 390px) {
  body {
    font-size: 12px;
  }

  .footer {
    grid-template-columns: 80%;
    gap: 20px;
    padding: 40px 0 15px;
  }
}
